:root {
    --dialogueMarginBottom: max(1.75rem, min(7dvh, 4rem));
    --dialogueMarginTop: 0px;
    --dialoguePaddingTop: 1.25rem;
    --dialoguePaddingBottom: 2rem;
    --dialogueBorderBlock: 24;
    --dialogueBorderWidth: 1rem;
    --dialogueHeight: calc(var(--dialogueMarginTop) + var(--dialogueMarginBottom) + var(--dialoguePaddingTop) + var(--dialoguePaddingBottom) + var(--dialogueBorderBlock) * 2px + var(--dialogueBorderWidth) * 2);
    --storytellerPaddingBottom: 0.25rem;
    --storytellerPaddingInline: 1rem;
    --char-height: max(calc(100dvw / 2.75), 84dvh);
    --char-bottom: calc(-1.5rem - var(--char-height) + 84dvh);
}

@font-face {
    font-family: "Boozy";
    src: url(./components/boozy.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h2 {
    font-size: 2.25rem;
}

.container,
.quest__action-img {
    max-width: 960px;
    margin: 0 auto;
}

.quest__text,
.quest__nav-container {
    max-width: 1000px;
}

.quest__text {
    padding: 0 1.25rem;
}

.quest__btns {
    padding: 1.25rem;
}

.quest__controls,
.quest.active,
.quest__btns,
.quest__controls-item,
.quest__character.active,
.quest__confirm-btns,
.quest__character-part.active,
.quest__confirm,
.quest__info,
.quest__info-close,
.quest__character-container,
.quest__character-name,
.quest__result-btns,
.quest__result,
.quest__preloader,
.quest__nav-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.quest,
.quest__character,
.quest__character-part,
.quest__btns::-webkit-scrollbar,
.quest__info-desc::-webkit-scrollbar {
    display: none;
}

.quest__action-img {
    width: 80dvw;
    height: calc(100% - var(--dialogueHeight));
    margin-bottom: 0.625rem;
}

.quest__action-img img {
    object-fit: contain;
}

.quest,
.quest__character-part,
.quest__character-name,
.quest__preloader {
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.quest__btns {
    align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: end;
}

.quest,
.quest__btns,
.quest__character,
.quest__character-part,
.quest__confirm,
.quest__info,
.quest__character-name,
.quest__result {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.quest[istest="true"] .quest__btns {
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.quest,
.quest__nav-container {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.quest[istest="true"] .quest__btns,
.quest__preloader {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.quest__confirm-btns,
.quest__result-btns {
    justify-content: space-around;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

.quest__controls,
.quest__btns,
.quest__character-part,
.quest__confirm,
.quest__info,
.quest__character-container,
.quest__character-name,
.quest__result {
    gap: 1.25rem;
}

.quest__background-image {
    object-fit: cover;
}

.quest[istest="true"] .quest__btns {
    max-width: unset;
}

.quest[istest="true"] .quest__btns-item {
    width: unset;
}

.quest__background-image,
.quest__background,
.quest__text-dialogue,
.quest__text,
.quest__btns,
.quest__action-img img,
.quest__action-img:after,
.quest.active:before,
.quest__confirm-btns,
.quest__confirm-btns-item img,
.quest__character-container,
.quest__character-item,
.quest__character-input,
.quest__nav-container,
.quest__overlay,
.quest__preloader,
.quest__btns-item,
.quest__preloader-progress::before,
.quest__preloader-progress::after {
    width: 100%;
}

.quest__background-image,
.quest__background,
.quest__action-img img,
.quest__action-img:after,
.quest.active:before,
.quest__confirm-btns-item img,
.quest__btns,
.quest__overlay,
.quest__preloader,
.quest__preloader-progress,
.quest__preloader-progress::before {
    height: 100%;
}

.quest__action-img,
.quest__text,
.quest__nav-container,
.quest__preloader-progress,
.quest__character-item-btn {
    position: relative;
}

.quest__background,
.quest__controls,
.start-quest,
.quest__action-img:after,
.quest.active:before,
.quest__character,
.quest__text-storyteller,
.quest__result,
.quest__info-close,
.arrow,
.quest__storyteller-image,
.quest__char-image,
.quest__preloader-progress::before,
.quest__preloader-progress::after {
    position: absolute;
}

.quest,
.quest[istest="true"] .quest__btns,
.quest__confirm,
.quest__info,
.quest__overlay,
.quest__preloader {
    position: fixed;
}

.quest__background {
    z-index: -2;
}

.quest__background,
.quest,
.quest__action-img:after,
.arrow.arrow__up,
.quest__overlay,
.quest__preloader,
.quest__preloader-progress::before,
.quest__preloader-progress::after {
    top: 0;
}

.arrow.arrow-down,
.quest[istest="true"] .quest__btns {
    bottom: 0;
}

.arrow.arrow-down {
    transform: rotate(180deg);
}

.quest__background,
.quest,
.quest__action-img:after,
.quest[istest="true"] .quest__btns,
.quest__overlay,
.quest__preloader,
.quest__preloader-progress::before,
.quest__preloader-progress::after {
    left: 0;
}

.arrow {
    right: 0;
}

.quest__info-close {
    right: 0.5rem;
    top: 0.5rem;
}

.quest__confirm,
.quest__info,
.start-quest,
.quest__character,
.quest__result {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quest {
    height: 100dvh;
    width: 100dvw;
    color: #ffffff;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.quest,
.container {
    font-family: "Boozy";
}

.quest__controls {
    right: 1.25rem;
    top: 1.25rem;
    z-index: 1;
}

.quest__controls-item {
    width: 2.5rem;
    height: 2.5rem;
}

.quest__controls-info {
    background: url('./images/info.svg') center/contain no-repeat;
}

.quest__controls-close {
    background: url('./images/close.svg') center/contain no-repeat;
}

.quest__text-dialogue,
.quest__confirm,
.quest__info,
.quest__character,
.quest__character-input,
.quest__result {
    font-size: 1.5rem;
    border-width: var(--dialogueBorderWidth);
    border-style: solid;
    border-color: transparent;
    border-image-source: url(./images/dialogue.svg);
    -webkit-border-image-source: url(./images/dialogue.svg);
    border-image-slice: var(--dialogueBorderBlock) 14 var(--dialogueBorderBlock) 16 fill;
    -webkit-border-image-slice: var(--dialogueBorderBlock) 14 var(--dialogueBorderBlock) 16 fill;
}

.quest__text-dialogue {
    padding: var(--dialoguePaddingTop) var(--dialoguePaddingTop) var(--dialoguePaddingBottom);
    margin: var(--dialogueMarginTop) auto var(--dialogueMarginBottom) auto;
}

.start-quest__btn,
.quest {
    text-shadow: 0 0 0.25rem black;
}

.quest__btns-item,
.start-quest__btn,
.quest__character-begin,
.quest__character-start,
.quest__result-btns-item,
.quest__character-item-btn {
    padding: 0 1rem 0.375rem;
    font-size: 1.25rem;
    border-width: 0.75rem;
    border-style: solid;
    border-color: transparent;
    border-image-source: url(./images/btn.svg);
    -webkit-border-image-source: url(./images/btn.svg);
    border-image-slice: 16 20 fill;
    -webkit-border-image-slice: 16 20 fill;
}

.start-quest,
.quest__text-dialogue,
.quest__confirm,
.quest__character,
.quest__result,
.quest__info {
    text-align: center;
}

.start-quest__btn {
    margin-top: 0.75rem;
    color: #ffffff;
}

.quest__controls-item,
.quest__btns-item,
.start-quest__btn,
.quest__confirm-btns-item,
.quest__character-begin,
.quest__character-item,
.quest__character-start,
.quest__result-btns-item,
.quest__info-close,
.arrow {
    cursor: pointer;
}

.start-quest__btn,
.quest__controls-item,
.quest__character-begin,
.quest__character-item,
.quest__character-start,
.quest__result-btns-item {
    transition: 0.3s transform ease;
}

.quest,
.quest__action-img,
.quest.active:before,
.arrow,
.quest__overlay {
    transition: 0.3s opacity ease;
}

.quest__btns-item {
    transition: 0.3s opacity ease, 0.3s transform ease;
}

.quest,
.quest.active:before,
.quest__text-dialogue span,
.quest__btns-item,
.quest__action-img,
.arrow,
.quest__storyteller-image,
.quest__char-image,
.quest__overlay {
    opacity: 0;
}

.quest.active[istest="true"]:before,
.quest.active.confirm:before,
.quest.active.info:before {
    opacity: 1;
}

.start-quest__btn:hover,
.quest__controls-item:hover,
.quest__btns-item:hover,
.quest__character-begin:hover,
.quest__character-item:hover,
.quest__character-start:hover,
.quest__result-btns-item:hover {
    transform: scale(1.05);
}

.quest[istest="true"] .quest__btns {
    height: unset;
    z-index: 1;
}

.quest__action-img:after {
    content: "";
    background: url(./images/maskImage.png) center/contain no-repeat;
}

.quest__action-img img {
    object-fit: contain;
    object-position: center;
    -webkit-mask-image: url("./images/mask.png");
    mask-image: url("./images/mask.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
}

.quest.active:before {
    content: "";
    z-index: -1;
    background: #00000080;
    backdrop-filter: blur(5px);
}

.quest.active.confirm:before,
.quest.active.info:before {
    z-index: 10;
}

.quest__confirm,
.quest__info {
    z-index: 11;
    padding: 1rem 2rem;
}

.quest__confirm-btns-item {
    width: 60px;
    height: 60px;
}

.error {
    filter: drop-shadow(0 0 0.625rem red);
    -webkit-filter: drop-shadow(0 0 0.625rem red);
}

.quest__character,
.quest__result {
    padding: 1rem;
    border-image-slice: 10 fill;
    -webkit-border-image-slice: 10 fill;
}

.quest__confirm-btns {
    margin-bottom: -60px;
}

.quest__character-begin,
.quest__character-start,
.quest__result-btns-item {
    margin-bottom: -50px;
}

.quest__character-input {
    outline: none;
    padding: 0.5rem 0.75rem;
    background: none;
    font-family: "Boozy";
    color: #ffffff;
    border-style: solid;
}

.quest__character-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.quest__text-storyteller {
    left: 50%;
    top: calc(var(--storytellerPaddingBottom) * -5);
    transform: translateX(-50%);
    font-size: 1.25rem;
    border-image-source: url(./images/storyteller.svg);
    -webkit-border-image-source: url(./images/storyteller.svg);
    padding: 0 var(--storytellerPaddingInline) var(--storytellerPaddingBottom);
    border-width: 0.75rem;
    border-image-slice: 16 fill;
    -webkit-border-image-slice: 16 fill;
    border-style: solid;
    border-color: transparent;
}

.quest__btns {
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-padding: 1.25rem;
}

.quest__btns-item {
    scroll-snap-align: start;
}

.arrow {
    --arrowSize: 1.25rem;
    width: var(--arrowSize);
    height: var(--arrowSize);
    background: url('./images/arrow.svg') center/contain no-repeat;
}

.quest__nav-container,
.quest__preloader-progress,
.quest {
    overflow: hidden;
}

.quest__storyteller-image,
.quest__char-image {
    pointer-events: none;
}

.quest__storyteller-image {
    left: 3%;
}

.quest__char-image {
    right: 3%;
}

.quest__char-image,
.quest__storyteller-image {
    bottom: var(--char-bottom);
    height: var(--char-height);
    max-height: 40rem;
    z-index: -1;
    transition: 0.3s left ease, 0.3s right ease, 0.3s opacity ease;
}

.quest__character-image {
    max-height: 50dvh;
    padding: 0 1.25rem;
}

.quest__btns {
    max-width: min(400px, 50%);
}

.arrow {
    right: calc(min(400px, 50%) / 2);
}

.quest__character-item-btn {
    margin-top: 0.5rem;
}

.quest__info-desc {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.quest__info {
    max-height: calc(100% - 2rem);
}

.quest__overlay {
    z-index: 100;
    background: #000000;
}

.quest__preloader {
    z-index: 100;
    background: #ffffff;
}

.quest__preloader-progress {
    max-width: 100%;
    min-width: 20rem;
    width: 0;
    transition: 0.1s width ease;
    background: #9EFC86;
    border-radius: 3px;
}

.quest__preloader-progress::before {
    content: '';
    background: linear-gradient(180deg, #41D163 -4.91%, #30B95A 31.45%, #229C5F 44.91%, #117865 66.46%, #0B6B68 77.23%, #107467 83.96%, #1D8E66 93.38%, #34B864 106.85%, #41D163 113.58%);
}

.quest__preloader-progress::after {
    content: '';
    height: 50%;
    background: linear-gradient(270deg, #A1C472 1.2%, #000000 115.13%);
    background-blend-mode: screen;
    mix-blend-mode: screen;
}

.quest__preloader-container {
    height: 50px;
    width: 50dvw;
    border-image-source: url(./images/progress.svg);
    -webkit-border-image-source: url(./images/progress.svg);
    border-width: 0.75rem;
    border-image-slice: 8 8 9 8 fill;
    -webkit-border-image-slice: 8 8 9 8 fill;
    border-style: solid;
    border-color: transparent;
    padding: 0 0 0.25rem;
    overflow: hidden;
}

.quest__rotate {
    width: 100dvw;
    height: 100dvh;
    background: #ffffff;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    z-index: 10000;
    gap: 1.25rem;
}

.quest__rotate-text {
    color: #000000;
    text-shadow: none;
    letter-spacing: 0.2px;
    text-align: center;
}

.quest__rotate-img {
    width: 50px;
    aspect-ratio: 2.5 / 4;
    border: 0.25rem solid #000000;
    border-radius: 0.75rem;
    position: relative;
    animation: rotate 2s ease infinite;
    opacity: 0;
}

.quest__rotate-img:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
    height: 5px;
    width: 0.875rem;
    background: #000000;
    border-radius: 99px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    60% {
        transform: rotate(-90deg);
        opacity: 1;
    }
    70% {
        transform: rotate(-90deg);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (orientation: portrait) {
    .quest__rotate {
        display: flex;
    }
}

@media screen and (max-width: 960px) {
    :root {
        --dialoguePaddingTop:  1rem;
        --dialoguePaddingBottom: 1.5rem;
        --dialogueMarginBottom: max(1.5rem, min(4dvh, 2rem));
        
    }

    .quest__info,
    .quest__btns {
        gap: 1rem;
    }

    .quest__btns {
        padding: 0 1.25rem;
        margin-bottom: calc(var(--dialogueMarginBottom) / 2 - 0.5rem);
    }

    .quest__info {
        max-height: 80dvh;
        width: 70dvw;
    }
}