* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.quest__dialogue,
.quest__btns {
    max-width: 1200px;
    margin: 0 auto;
}

.quest__controls,
.quest.active,
.quest__btns,
.quest__controls-item {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.quest {
    display: none;
}

.quest {
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.quest__btns {
    align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: end;
}

.quest,
.quest__btns {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.quest__background-image {
    object-fit: cover;
}

.quest__background-image,
.quest__background,
.quest__dialogue,
.quest__btns {
    width: 100%;
}

.quest__background-image,
.quest__background {
    height: 100%;
}

.quest__background {
    position: absolute;
    z-index: -1;
}

.quest__background,
.quest {
    top: 0;
}

.quest__background,
.quest {
    left: 0;
}

.quest {
    height: 100vh;
    width: 100vw;
    position: fixed;
    color: #ffffff;
    justify-content: flex-end;
    opacity: 0;
    transition: 0.3s opacity ease;
}

.quest__controls {
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.quest__dialogue {
    padding: 20px;
    background: red;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
}

.quest__controls-item,
.quest__btns-item,
.start-quest__btn {
    cursor: pointer;
}

.quest__btns-item {
    background: purple;
    padding: 10px 12px;
    border-radius: 5px;
}

.quest__btns {
    gap: 20px;
}

.quest__controls-item {
    padding: 4px;
    border-radius: 50%;
    background: red;
}

.quest__controls-item,
.quest__dialogue,
.quest__btns-item {
    border: 3px solid #ffffff;
}

.start-quest {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.start-quest__btn {
    padding: 10px 12px;
    margin-top: 12px;
    border-radius: 5px;
    background: blue;
    color: #ffffff;
}

.start-quest__btn,
.quest__controls-item,
.quest__btns-item {
    transition: 0.3s transform ease;
}

.start-quest__btn:hover,
.quest__controls-item:hover,
.quest__btns-item:hover {
    transform: scale(1.05);
}